%h1 Chistes

- @flyers.each do |flyer|
  .panel.panel-default
    .panel-heading
      %h3.panel-title= flyer.name
    .panel-body
      = flyer.description

//%td= link_to 'Show', flyer
//%td= link_to 'Edit', edit_flyer_path(flyer)
//= link_to 'Destroy', flyer, :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to 'Nuevo Chiste', new_flyer_path, class: 'btn btn-info'
